@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@keyframes typeWriter {
  from {
        width: 0;
    }

    to {
        width: 13ch;
    } 
}

 @keyframes beat {

        0%,
        100% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.1);
        }
    }

.animate-typeWriter{
    font-family: times;
    overflow: hidden;
    width: 0;
    border-right: 0.1rem solid black;
    animation: typeWriter 4s steps(13, end)1s forwards;
}

.animate-beat{
animation: beat 3s infinite;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
